<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="3" parallel="classes" verbose="4" >

    <test name="Demo-Test">
        <classes>
            <class name = "com.nexus.demo.DemoTraceTest"/>
            <class name = "com.nexus.demo.DemoTest"/>
            <class name = "com.nexus.demo.DemoApiTest"/>
        </classes>
    </test>
</suite>